@import "index.scss";

#button {
  text-align: center;
  background-color: $primary-color;
  border-radius: 2px;
  padding: 4px 0;
  color: white;
  font-weight: bold;
  font-size: $font-tiny;
  cursor: pointer;
}
