@import "index.scss";

#categorize {
  .categorizeItem {
    padding: 6px 16px;
    border-radius: 2px;
    color: $primary-color;
    background-color: $secondary-color;
    margin-right: 8px;
    cursor: pointer;

    &--isActive {
      color: white;
      background-color: $primary-color;
    }
  }
}
