@import "index.scss";

#productCard {
  min-height: 300px;

  img {
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 16px;
    border: 1px $product-border-color solid;
    border-radius: 12px;
    width: calc(100% - 32px);
  }

  p {
    min-height: 35px;
  }
}
