body {
  margin: 0;
  font-family: "Open Sans";
  background: #e5e5e5;

  *:focus,
  *:active {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: text;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }

  h4 {
    font-size: $font-large;
    color: $title-color;
    font-weight: 400;
    margin-top: 0;
  }

  h5 {
    font-size: $font-small;
    color: $title-color;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 12px;
  }

  p {
    font-size: $font-regular;
    color: $gray-scale-color;
    margin-top: 8px;
  }

  .loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
}
