$primary-color: #1ea4ce;
$secondary-color: #f2f0fd;
$title-color: #6f6f6f;
$product-border-color: #f3f0fe;

$gray-scale-semi-light-color: #525252;
$gray-scale-color: #191919;
$gray-scale-light-color: #697488;

$font-tiny: 12px;
$font-small: 13px;
$font-regular: 14px;
$font-large: 20px;
