@import "variables";

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  titleColor: $title-color;
  productBorderColor: $product-border-color;

  grayScaleColor: $gray-scale-color;

  fontRegular: $font-regular;
  fontLarge: $font-large;
}
