@import "variables";

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  titleColor: $title-color;
  productBorderColor: $product-border-color;

  grayScaleColor: $gray-scale-color;
  grayScaleLightColor: $gray-scale-light-color;
  grayScaleSemiLightColor: $gray-scale-semi-light-color;

  fontRegular: $font-regular;
  fontLarge: $font-large;
}
