@import "index.scss";

#content {
  width: 50%;

  .content {
    &__products {
      background-color: white;
      padding: 7px 20px 50px 20px;

      &-pagination {
        display: flex;
        justify-content: space-between;
        width: 100%;

        li {
          padding: 11px 12px;
          font-size: $font-regular;
          color: $gray-scale-light-color;
        }

        a {
          cursor: pointer;
          font-weight: 600;

          &:hover {
            color: $primary-color;
          }
        }

        .selected {
          color: white;
          background-color: $primary-color;
        }

        .previous {
          padding-right: 10%;
        }

        .next {
          padding-left: 10%;
        }
      }
    }
  }
}
